{% extends "base.html" %}
{% block conteudo %}
  <h1>➕ Agendar Consulta</h1>
  <form method="POST" action="{{ url_for('agendar') }}">
    <label>Paciente:</label>
    <select name="paciente" required>
      {% for p in pacientes %}
      <option value="{{ p[0] }}">{{ p[1] }}</option>
      {% endfor %}
    </select><br>

    <label>Médico:</label>
    <select name="medico" required>
      {% for m in medicos %}
      <option value="{{ m[0] }}">{{ m[1] }} - {{ m[2] }}</option>
      {% endfor %}
    </select><br>

    <label>Data:</label>
    <input type="date" name="data" required><br>

    <label>Hora:</label>
    <input type="time" name="hora" required><br>

    <button type="submit">Agendar</button>
  </form>
  <a href="{{ url_for('consultas') }}">Voltar</a>
{% endblock %}
