{% extends "base.html" %}
{% block conteudo %}
  <h1>✏️ Editar Paciente</h1>
  <form method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" value="{{ paciente[1] }}" required><br>
    <label>Idade:</label>
    <input type="text" name="idade" value="{{ paciente[2] }}" required><br>
    <label>CPF:</label>
    <input type="text" name="cpf" value="{{ paciente[3] }}" required><br>
    <label>Telefone:</label>
    <input type="text" name="telefone" value="{{ paciente[4] }}" required><br>
    <button type="submit">Salvar Alterações</button>
  </form>
{% endblock %}


